{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Product Group details for {{ product_group.name }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            {{ product_group.name }}
            <small>
                Product Group details
                <a href="{{ back_to }}" data-toggle="tooltip" id="_back" title="back to previous page">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                </a>
            </small>
        </h1>
    </div>

    {% bootstrap_messages %}

    <dl class="dl-horizontal">
        <dt>Vendor:</dt>
        <dd>{{ product_group.vendor.name }}</dd>

        <dt>Name:</dt>
        <dd>{{ product_group.name }}</dd>
    </dl>
    <hr>
    {% include "productdb/_components/search_function_info_with_config_link.html" %}
    <hr>
    <div class="col-md-12">
        <table id="product_table" class="table table-striped table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr id="tour_table_head">
                    <th class="searchable">Product ID</th>
                    <th class="searchable">Description</th>
                    <th class="searchable">List Price</th>
                    <th class="searchable">Tags</th>
                    <th>Lifecycle State</th>
                    <th><abbr title="End-of-Life Announcement Date">EoL anno</abbr></th>
                    <th><abbr title="End-of-Sale Date">EoS</abbr></th>
                    <th><abbr title="End of New Service Attachment Date">EoNewSA</abbr></th>
                    <th><abbr title="End of SW Maintenance Releases Date">EoSWM</abbr></th>
                    <th><abbr title="End of Routine Failure Analysis Date">EoRFA</abbr></th>
                    <th><abbr title="End of Service Contract Renewal Date">EoSCR</abbr></th>
                    <th><abbr title="End of Vulnerability/Security Support date">EoVulnServ</abbr></th>
                    <th>Last Date of Support</th>
                    <th>Vendor Bulletin</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block additional_head_css %}
    <link href="{% static 'lib/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block additional_head_js %}
    <script src="{% static 'lib/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock %}

{% block additional_page_js %}
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            // attach search input fields
            $('#product_table thead th').each(function () {
                var title = $(this).text();
                if($(this).hasClass("searchable")) {
                    $(this).html(
                            '<input id="column_search_' + title + '" class="search_box" type="text" placeholder="Search '+ title + '" /><br>' +
                            $(this).html()
                    );
                }
            });

            var table = $('#product_table').DataTable( {
                "dom": "<'row'<'col-sm-4'l><'col-sm-4'<'text-center'B>><'col-sm-4'f>>" +
                     "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "processing": true,
                "pagingType": "full_numbers",
                "lengthMenu": [[50, 10, 25, 100], [50, 10, 25, 100]],
                "fixedHeader": {
                    "headerOffset": 50
                },
                "serverSide": true,
                "stateSave": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "product_id",
                        "visible": true,
                        "searchable": true,
                        "render": function ( data, type, row ) {
                            if (data != null) {
                                return '<a href="{% url 'productdb:product-list' %}' + row["id"] + '/?back_to={{ request.get_full_path|urlencode }}">' + row['product_id'] + '</a>';
                            }
                            else {
                                return ""
                            }
                        }
                    },
                    {
                        "targets": 1,
                        "data": "description",
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 2,
                        "data": "list_price",
                        "visible": true,
                        "searchable": false,
                        "render": function ( data, type, row ) {
                            if (data != null) {
                                return data + ' ' + row['currency'] + '';
                            }
                            else {
                                return ""
                            }
                        }
                    },
                    {
                        "targets": 3,
                        "data": "tags",
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": 4,
                        "data": "lifecycle_state",
                        "visible": true,
                        "searchable": false,
                        "render": function ( data, type, row ) {
                            if (row["eox_update_time_stamp"] != null) {
                                return "<small>" + row['lifecycle_state'].join(", <br>") + "</small>";
                            }
                            else {
                                return ""
                            }
                        },
                        "sortable": false
                    },
                    {
                        "targets": 5,
                        "data": "eol_ext_announcement_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 6,
                        "data": "end_of_sale_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 7,
                        "data": "end_of_new_service_attachment_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 8,
                        "data": "end_of_sw_maintenance_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 9,
                        "data": "end_of_routine_failure_analysis",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 10,
                        "data": "end_of_service_contract_renewal",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 11,
                        "data": "end_of_sec_vuln_supp_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 12,
                        "data": "end_of_support_date",
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": 13,
                        "render": function (data, type, row) {
                            if (row['eol_reference_url'] != null) {
                                if(row['eol_reference_number'] != null) {
                                    link_str = row['eol_reference_number']
                                }
                                else {
                                    link_str = "Link"
                                }

                                return "<a href=\"" + row['eol_reference_url'] +
                                        "\" target=\"_blank\">" + link_str + "</a>";
                            }
                            else {
                                return ""
                            }
                        },
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    }
                ],
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        title: "export product group - {{ product_group.name }}",
                        fieldSeparator: ';',
                        fieldBoundary: "",
                        exportOptions: {
                            columns: ':visible'
                        },
                        extension: '.csv'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: "export product group - {{ product_group.name }}",
                        orientation: 'landscape',
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        id: "tour_show_columns",
                        text: 'show additional columns <i class="fa fa-angle-down"></i>'
                    }
                ],
                "ajax": "{% url 'productdb:datatables_list_products_by_group_view' product_group.id %}"
            });

            // reset all search terms
            table
                 .search( '' )
                 .columns().search( '' )
                 .draw();

            // prevent sorting when clicking in the search field
            $('.search_box').on('click', function(e){
               e.stopPropagation();
            });

            // add the search events
            table.columns().every( function () {
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() != this.value) {
                        that
                                .search(this.value)
                                .draw();
                    }
                });
            });
        });
    </script>
{% endblock %}