.venv
*.rdb
*.iml
.idea/
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
/_*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vagrant/
celerybeat-schedule.db
celeryev.pid
### do not include custom staging files
*/stage_*
!deploy/stage_default
!deploy/stage_vagrant
tests/selenium_downloads/*
!tests/*
*.bak
cisco_api_test_credentials.yaml
productdb_demo_database.json
db.sqlite3
*.pyc
*.log
*.retry
*.pid
static/lib
node_modules
/conf/*
!/conf/product_database.sample.config
deploy/stage_vagrant/ldap-parameters.yaml
/data
staging_inventory
*.crt
*.key
htmlcov
.coverage
coverage_report
/assets
/.cache
/tmp
.cisco_api_credentials
env.*
!env.demo
!env.prod_template
!env.compose_test
.pytest_cache
docker-compose.yaml