anyjson==0.3.3
billiard==3.5.0.2
celery==3.1.25
Django==1.9.12
django-annoying==0.10.3
django-celery==3.2.1
django-datatables-view==1.14.0
django-rest-swagger==2.1.2
django-redis-cache==1.7.1
django-cacheops==3.1.2
djangorestframework==3.6.2
Markdown==2.6.7
gunicorn==19.7.0
kombu==3.0.35
numpy==1.11.0
pandas==0.19.1
psycopg2==2.7.1
python-dateutil==2.5.3
pytz==2016.7
PyYAML==3.11
redis==2.10.5
requests==2.13.0
six==1.10.0
xlrd==1.0.0
pyldap==2.4.28
django-auth-ldap==1.2.10
django-bootstrap3==8.2.1
django-reversion==2.0.8
django-reversion-compare==0.7.3
django-filter==1.0.1
raven==6.0.0
jtextfsm==0.3.1
