amqp==2.1.1
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
Django==1.9.11
django-annoying==0.10.3
django-celery==3.1.17
django-datatables-view==1.13.2
django-rest-swagger==2.1.0
django-redis-cache==1.7.1
django-cacheops==3.0.1
djangorestframework==3.5.3
Markdown==2.6.7
gunicorn==19.6.0
kombu==3.0.35
numpy==1.11.0
pandas==0.19.1
psycopg2==2.6.2
python-dateutil==2.5.3
pytz==2016.7
PyYAML==3.11
redis==2.10.5
requests==2.10.0
six==1.10.0
xlrd==1.0.0
pyldap==2.4.25.1
django-auth-ldap==1.2.8
django-bootstrap3==7.1.0
django-reversion==2.0.7
django-reversion-compare==0.7.2
django-filter==0.15.3
raven==5.32.0
jtextfsm==0.3.1
