/*
 * common CSS modifications
 */
.jumbotron{
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:15px;
  color:inherit;
  background-color:#eee;
  overflow: hidden;
}

html,
body {
  margin-top: 30px;
}

.search_box {
  font-weight: normal;
  display:table-cell;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}