{% extends  '_base/page-with_nav-single_row.html' %}

{% block page_content %}
    <div class="col-md-6 col-lg-offset-3">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        {% if IS_LDAP_ACCOUNT %}
            <p>
                You are using an LDAP account that is centrally managed. Please change the password in your common
                user directory.
            </p>
        {% else %}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    {{ form.non_field_errors }}
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.old_password }}
                    </div>
                    <div class="col-md-12 text-danger">
                        {{ form.old_password.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.new_password1 }}
                    </div>
                    <div class="col-md-12 text-danger">
                        {{ form.new_password1.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.new_password2 }}
                    </div>
                    <div class="col-md-12 text-danger">
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" title="change password" id="submit">
                            <i class="fa fa-key"></i>&nbsp;change password
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}