[global]
cisco_api_enabled = False

[cisco_eox_api_crawler]
periodic_sync_enabled = True
eox_api_queries =
product_blacklist_regex =
auto_create_new_products = True
eox_api_auto_sync_last_execution_time =
eox_api_auto_sync_last_execution_result =

[cisco_api]
client_secret = PlsChgMe
client_id = PlsChgMe
cisco_api_credentials_last_message = note tested
cisco_api_credentials_successful_tested = False
