{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
Create Product Check
{% endblock %}

{% block page_content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h1>New Product Check</h1>
        </div>

        {% bootstrap_alert content="Every Product Check is temporary stored in the database. All Product Checks are deleted every week on Sunday." alert_type="warning" %}
        {% bootstrap_messages %}

        <p>On this page, you can execute a bulk Product check of multiple Products against the local
        database. Please enter a list of Product IDs in the following text field separated
        by line breaks, e.g.</p>
            <p style="margin-left: 25px;">
                WS-C2960-48TT-L<br>
                WS-C2950-24<br>
                Not Found<br>
                WS-C2960S-24TS-S<br>
                WS-C3850-24P-S<br>
                WS-C3850-24P-S
            </p>

        <form method="post" class="form">
            {% csrf_token %}

            {% bootstrap_field form.name layout="horizontal" %}
            {% if choose_migration_source %}
                {% bootstrap_field form.migration_source layout="horizontal" %}
            {% endif %}
            {% bootstrap_field form.input_product_ids layout="horizontal" %}
            {% bootstrap_field form.public_product_check layout="horizontal" %}

            {% bootstrap_field form.create_user layout="horizontal" %}
            <hr>
            {% buttons %}
                <button type="submit" id="submit" class="btn btn-primary btn-block">Create Product Check</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
