{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Delete Product List {{ product_list.name }} - Product Database
{% endblock %}

{% block page_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Delete Product List
                <small>
                    {{ product_list.name }}
                    <a href="javascript:window.location.href=document.referrer;" data-toggle="tooltip" title="back to previous page"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
                </small>
            </h1>
        </div>
        {% bootstrap_messages %}
        <form method="post" class="form">
            {% csrf_token %}
            <div class="checkbox">
                <label>
                  <input type="checkbox" name="really_delete"> Really delete the Product List <strong>{{ product_list.name }}</strong>
                </label>
              </div>
            {% buttons %}
                <button type="submit" class="btn btn-block btn-danger" id="submit">
                    Delete it!
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}