{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
about
{% endblock %}

{% block content %}
        <div class="container">
            <h1>About the Product Database <small>version {% include 'version.html' %}</small></h1>
            <hr>
            <h2>List of third party components</h2>
            <p>The following libaries, frameworks and applications are used within this Project:</p>
            <ul>
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                <li><a href="http://datatables.net/" target="_blank">Datatables.net</a> with <a href="https://datatables.net/extensions/buttons/" target="_blank">Datatables buttons extension</a></li>
                <li><a href="https://www.djangoproject.com/" target="_blank">Django Web Framework</a></li>
                <li><a href="http://www.celeryproject.org/" target="_blank">Celery</a></li>
                <li><a href="http://www.django-rest-framework.org/" target="_blank">Django REST framework</a></li>
                <li>Django REST swagger</li>
                <li>django-celery</li>
                <li>django-datatables-view</li>
                <li>django-annoying</li>
                <li>gunicorn</li>
                <li>xlrd</li>
                <li>pandas</li>
                <li>requests</li>
                <li>selenium</li>
                <li>redis</li>
                <li><a href="https://stuk.github.io/jszip/" target="_blank">JSZip</a> Version 2.5 (required for buttons extension)</li>
                <li><a href="http://pdfmake.org" target="_blank">PDFMake</a> Version 0.1.18 (required for buttons extension)</li>
            </ul>
            <hr>
            <h2>License</h2>
            <div class="container pull-left" style="width: 700px;">
                <pre>
The MIT License (MIT)

Copyright (c) 2015 Henry Ölsner

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
                </pre>
            </div>
        </div>
{% endblock %}
