{% extends '_base/page-with_nav.html' %}

{% block title %}
    Product Database
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                <h1>
                    <i class="fa fa-database"></i>&nbsp;
                    Product Database
                </h1>
                <hr>
                <p class="hidden-xs">
                    This database contains information about network equipment like routers and switches from multiple
                    vendors.
                </p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" role="button" href="{% url 'productdb:all_products' %}">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;
                        All Products
                    </a>
                    <a class="btn btn-default" role="button" href="{% url 'productdb:browse_vendor_products' %}">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;
                        Products by Vendor
                    </a>
                    <a class="btn btn-default" role="button" href="{% url 'productdb:bulk_eol_check' %}">
                        <i class="fa fa-cogs"></i>&nbsp;&nbsp;
                        Bulk EoL check
                    </a>
                </div>

                <p class="hidden-xs hidden-sm text-muted">
                    <small>
                        The lifecycle information can be updated periodically using the Cisco EoX API that is available&nbsp;
                        at&nbsp;<a href="https://apiconsole.cisco.com/" style="white-space: nowrap">
                        <i class="fa fa-external-link"></i>&nbsp;https://apiconsole.cisco.com/ (Cisco Partners only)</a>.
                    </small>
                </p>
                <p class="text-muted">
                    <small>
                        More information about the Product Database are available on the
                        <a href="https://github.com/hoelsner/product-database" style="white-space: nowrap">
                            GitHub project page
                        </a>.
                    </small>
                </p>
            </div>
        </div>
        {% if recent_events|length != 0 %}
            <div class="col-lg-11 col-md-11 col-md-offset-1">
                <h1>recent events</h1>
                <ul class="media-list">
                    {% for event in recent_events %}
                        {% include '_base/notification_record.html' %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}