{% extends '_base/page-with_nav.html' %}

{% block title %}
    Product Database
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <div class="jumbotron" style="padding-bottom: 25px;">
                <h1>
                    <i class="fa fa-database"></i>
                    Product Database
                </h1>
                {% if TB_HOMEPAGE_TEXT_BEFORE_FAVORITE_ACTIONS %}
                    <div>
                        {{ TB_HOMEPAGE_TEXT_BEFORE_FAVORITE_ACTIONS.html_content|safe }}
                    </div>
                {% endif %}

                <div class="btn-toolbar" role="toolbar" style="margin-top: 25px; margin-bottom: 25px;">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" role="button" href="{% url 'productdb:all_products' %}">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;
                            All Products
                        </a>
                        <a class="btn btn-default" role="button" href="{% url 'productdb:browse_vendor_products' %}">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;
                            Products by Vendor
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" role="button" href="{% url 'productdb:bulk_eol_check' %}">
                            <i class="fa fa-cogs"></i>&nbsp;&nbsp;
                            Bulk EoL check
                        </a>
                    </div>
                </div>

                {% if TB_HOMEPAGE_TEXT_AFTER_FAVORITE_ACTIONS %}
                    <div>
                        {{ TB_HOMEPAGE_TEXT_AFTER_FAVORITE_ACTIONS.html_content|safe }}
                    </div>
                {% endif %}
            </div>
            {% if recent_events|length != 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            recent events
                        </h4>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            {% for event in recent_events %}
                                {% include '_base/notification_record.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-tachometer"></i>&nbsp;
                        Content Overview
                    </h4>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-cube"></i>&nbsp;
                        Vendors
                    </span>
                    <span class="pull-right text-right">
                        {{ vendors|join:"<br>"|safe }}
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-cubes"></i>&nbsp;
                        All Products
                    </span>
                    <span class="pull-right">
                        {{ product_count }}
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-cubes"></i>&nbsp;
                        Products with Lifecycle Data
                    </span>
                    <span class="pull-right">
                        {{ product_lifecycle_count }}
                    </span>
                    <div class="clearfix"></div>
                    <div style="padding-left: 15%; padding-top: 10px;">
                        <span class="pull-left">
                            <i class="fa fa-cubes"></i>&nbsp;
                            No EoL announcement
                        </span>
                        <span class="pull-right">
                            {{ product_no_eol_announcement_count }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div style="padding-left: 15%">
                        <span class="pull-left">
                            <i class="fa fa-cubes"></i>&nbsp;
                            EoL announcement
                        </span>
                        <span class="pull-right">
                            {{ product_eol_announcement_count }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div style="padding-left: 15%">
                        <span class="pull-left">
                            <i class="fa fa-cubes"></i>&nbsp;
                            End-of-Sale
                        </span>
                        <span class="pull-right">
                            {{ product_eos_count }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div style="padding-left: 15%">
                        <span class="pull-left">
                            <i class="fa fa-cubes"></i>&nbsp;
                            End-of-Life
                        </span>
                        <span class="pull-right">
                            {{ product_eol_count }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-cubes"></i>&nbsp;
                        Products with List Price
                    </span>
                    <span class="pull-right">
                        {{ product_price_count }}
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}