{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}

{% block title %}
Execute a Bulk EoL check
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>Bulk EoL check</h1>
        </div>

        <p>On this page, you can execute a bulk check of multiple products against the local
        database. Please enter a list of product IDs in the following text field separated
        by line breaks.</p>
        {% if query_result|length > 0 %}
        <a href="{% url 'productdb:bulk_eol_check' %}" class="btn btn-primary btn-lg btn-block" role="button">Start another Bulk EoL check</a>
        {% endif %}

        {% if query_result|length == 0 %}
            {% if query_no_result %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Query returned no results.
            </div>
            {% endif %}
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <textarea id="db_query" name="db_query"
                              placeholder="Enter product IDs separated by line breaks here..."
                              class="form-control" rows="25"></textarea>
                </div>
                <div class="text-center">
                    <input class="btn btn-default" type="submit" id="submit" value="Execute EoL bulk check" />
                </div>
                {% csrf_token %}
            </form>
        {% else %}
            <h2>Summary bulk check results</h2>
            <p>The following table shows the product lifecycle state and how often they appeared within the provided data.</p>
            <p><strong>Please note:</strong> The following table contains also products and/or query string, which are not
                found in the local database.</p>
            <div class="col-md-12">
                <table id="product_summary_table" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Lifecycle State</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <hr>
            <h2>Detailed lifecycle states</h2>
            <p>The following table contains the detailed lifecycle information for the products which were found in the
                provided data.</p>
            <div class="col-md-12">
                <table id="product_table" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>PID</th>
                            <th>EoL anno.</th>
                            <th>EoS</th>
                            <th>EoNewSA</th>
                            <th>EoSWM</th>
                            <th>EoRFA</th>
                            <th>EoSCn</th>
                            <th>EoVulnServ</th>
                            <th>EoSup</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-md-12">
                <h2>Ignored/not found</h2>
                <p>The following Product IDs are not affected by an End of Life announcement or the query does not
                    return a valid result.</p>
                <table id="skipped_queries_table" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Query/Product ID</th>
                            <th>result</th>
                        </tr>
                    </thead>
                </table>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Legend</h3>
                    </div>
                    <div class="panel-body">
                        <pre id="legend">
PID        = Product ID
EoL anno   = End of Life announcement date
EoS        = End of Sale Date
EoNewSA    = End of new service attachment date
EoSWM      = End of Software Maintenance date
EoRFA      = End of routine failure analysis
EoRFA      = End of routine failure analysis
EoVulnServ = End of Vulnerability/Security Support
EoSup      = Last day of support
                        </pre>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block additional_head_css %}
    <link href="{% static 'lib/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'lib/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock %}

{% block additional_page_js %}
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    {% if query_result|length > 0 %}
    <script type="application/javascript">
        $(document).ready(function() {
            update_datatable()
        });

        function update_datatable() {
            var query_result_set = [
                {% for element in query_result %}{% if element.eol_ext_announcement_date != "" %}
                [ "{{ element.product_id }}",
                "{{ element.eol_ext_announcement_date }}",
                "{{ element.end_of_sale_date }}",
                "{{ element.end_of_new_service_attachment_date }}",
                "{{ element.end_of_sw_maintenance_date }}",
                "{{ element.end_of_routine_failure_analysis }}",
                "{{ element.end_of_service_contract_renewal }}",
                "{{ element.end_of_sec_vuln_supp_date }}",
                "{{ element.end_of_support_date }}",
                "{{ element.eol_reference_number }}",
                "{{ element.eol_reference_url }}" ],
                {% endif %}{% endfor %}
            ];

            var result_stats = [
                {% for key, value in result_stats.items %}
                [ "{{ value.product.product_id }}",
                "{{ value.product.description }}",
                "{{ value.count }}",
                "{% if value.state %}{{ value.state|join:"<br>" }}{% endif %}" ],
                {% endfor %}
            ];

            var skipped_queries = [
                {% for key, value in skipped_queries.items %}
                [ "{{ value.query }}",
                "{{ value.result }}" ],
                {% endfor %}
            ];

            var skipped_queries_table = $('#skipped_queries_table').DataTable( {
                lengthMenu: [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
                data: skipped_queries,
                columnDefs: [
                    {
                        "targets": 0,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 1,
                        "visible": true,
                        "searchable": true
                    }
                ],
                order: [[0, 'asc']],
                dom: "<'row'<'col-sm-4'l><'col-sm-4'<'text-center'B>><'col-sm-4'f>>" +
                     "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    'copyHtml5',
                    {
                        "extend": 'csvHtml5',
                        "title": "Bulk EoL check (queries and products which are not found)",
                        "fieldSeparator": ';',
                        fieldBoundary: "",
                        exportOptions: {
                            columns: ':visible'
                        },
                        "extension": '.csv'
                    },
                    {
                        "extend": 'pdfHtml5',
                        "title": "Bulk EoL check (queries and products which are not found)",
                        "orientation": 'landscape',
                        "pageSize": 'A4'
                    }
                ]
            });

            var product_summary_table = $('#product_summary_table').DataTable( {
                lengthMenu: [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
                data: result_stats,
                columnDefs: [
                    {
                        "targets": 0,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 1,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 2,
                        "visible": true,
                        "searchable": false
                    }
                ],
                order: [[2, 'desc']],
                dom: "<'row'<'col-sm-4'l><'col-sm-4'<'text-center'B>><'col-sm-4'f>>" +
                     "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    'copyHtml5',
                    {
                        "extend": 'csvHtml5',
                        "title": "Bulk EoL check (product summary table)",
                        "fieldSeparator": ';',
                        fieldBoundary: "",
                        exportOptions: {
                            columns: ':visible'
                        },
                        "extension": '.csv'
                    },
                    {
                        "extend": 'pdfHtml5',
                        "title": "Bulk EoL check (product summary table)",
                        "orientation": 'landscape',
                        "pageSize": 'A4'
                    }
                ]
            });

            var dt = $('#product_table').DataTable( {
                lengthMenu: [ [50, 100, -1], [50, 100, "All"] ],
                data: query_result_set,
                columnDefs: [
                    {
                        "targets": 0,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "render": function ( data, type, row ) {
                            if(row['eol_ext_announcement_date'] == "None") {
                                return "Not announced"
                            }
                            else {
                                return data
                            }
                        },
                        "targets": 1,
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "targets": [2,3,4,5,6,7,8],
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "render": function ( data, type, row ) {
                            if(data == "None") {
                                return "N/A"
                            }
                            else {
                                return '<a href="' + row[10] + '" target="_blank">' +
                                        row[9] + '</a>'
                            }
                        },
                        "targets": 9,
                        "visible": true,
                        "searchable": false
                    }
                ],
                order: [[1, 'asc']],
                dom: "<'row'<'col-sm-4'l><'col-sm-4'<'text-center'B>><'col-sm-4'f>>" +
                     "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    'copyHtml5',
                    {
                        "extend": 'csvHtml5',
                        "title": "Bulk EoL check (detailed lifecycle states)",
                        "fieldSeparator": ';',
                        fieldBoundary: "",
                        exportOptions: {
                            columns: ':visible'
                        },
                        "extension": '.csv'
                    },
                    {
                        "extend": 'pdfHtml5',
                        "title": "Bulk EoL check (detailed lifecycle states)",
                        "orientation": 'landscape',
                        "pageSize": 'A4'
                    }
                ]
            });
        }
    </script>
    {% endif %}
{% endblock %}