{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}import products{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Import products</h1>
        </div>
        <p>You can download the template for the file upload <a href="{% static 'file/product_database_import_template.xlsx' %}">here</a>.</p>
        <p>After you <strong>add your products to the Excel template</strong>, you can upload it using the dialog below.</p>

        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Cannot upload file, the following error occurred:
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-10">
                    {{ form.excel_file }}
                </div>
            </div>
            {% if form.excel_file.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.excel_file.errors }}
            </div>
            {% endif %}
            <input type="submit" id="submit_form" value="import products" class="btn btn-block btn-primary" />
        </form>
        {% if import_result %}
            <hr>
            {% if import_result == "error" %}
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>{{ import_messages }}</strong>
            </div>
            {% else %}
            <div class="panel panel-info">
                <h3 class="panel-heading" style="margin-top: 0px">You have imported {{ import_valid_imported_products }} valid products and {{ import_invalid_products }} invalid products.</h3>
                <div class="panel-body">
                    {% autoescape off %}
                    <ul>
                        {{ import_messages|unordered_list }}
                    </ul>
                    {% endautoescape %}
                </div>
            </div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}