{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Edit User Profile - Product Database
{% endblock %}

{% block page_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>
                <i class="fa fa-wrench"></i>&nbsp;
                Edit User Profile
                <small>
                    {{ product_list.name }}
                    <a href="{{ back_to }}" data-toggle="tooltip" title="back to previous page"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
                </small>
            </h1>
        </div>
        {% bootstrap_messages %}
        <form method="post" class="form">
            {% csrf_token %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Information</h3>
                </div>
                <div class="panel-body">
                    {% bootstrap_field form.email layout="horizontal"  %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">UI Settings</h3>
                </div>
                <div class="panel-body">
                    {% bootstrap_field form.preferred_vendor layout="horizontal" %}
                    {% bootstrap_field form.regex_search layout="horizontal" %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">REST API authentication token</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#rest_api_auth_token"> show personal REST API authentication token</button>
                    {% bootstrap_field form.regenerate_api_auth_token layout="horizontal" %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">Other settings</h3>
                </div>
                <div class="panel-body">
                {% bootstrap_field form.choose_migration_source layout="horizontal" %}
                </div>
            </div>

            {% buttons %}
                <button type="submit" class="btn btn-block btn-primary" id="submit">
                    Save
                </button>
            {% endbuttons %}
        </form>
    </div>

<div class="modal fade" id="rest_api_auth_token" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">REST API authentication token</h4>
            </div>
            <div class="modal-body">
                <p>Your current personal REST API authentication token is <code>{{ api_auth_token }}</code>.</p>
                <p class="text-danger">Don't share this token with other Users! You can change the token on the User Profile Page.</p>
                <p>
                    You can use the token as an authentication mechanism for the REST API. This allows a separation between
                    the API and the User authentication. Every API endpoint allows the use of the HTTP base authentication (with
                    username and password) or using the following header entry:
                    <code>Authentication</code> header field:
                    <div class="well code">
                        Authorization: Token <code>{{ api_auth_token }}</code>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
