{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block bootstrap_theme %}
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
            <a class='navbar-brand' href="{% url 'productdb:home' %}" rel="nofollow">
                Product Database <span class="version">{% include 'short_version.html' %}</span>
            </a>
{% endblock %}

{% block title %}
    Product DB - API Webfrontend
{% endblock %}

{% block userlinks %}
{% include 'navigation_links.html' %}
{% endblock %}