{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'productdb:home' %}">Product Database (REST API)</a>
{% endblock %}

{% block title %}
    Product Database (REST API)
{% endblock %}

{% block userlinks %}
    <li role="presentation">
        <a href="{% url 'productdb:home' %}">
            Back to Homepage
        </a>
    </li>
{% endblock %}