{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block branding %}
            <a class='navbar-brand' href="{% url 'productdb:home' %}" rel="nofollow">
                Product DB <span class="version">{% include 'short_version.html' %}</span>
            </a>
{% endblock %}

{% block title %}
    Product DB - API Webfrontend
{% endblock %}

{% block userlinks %}
{% include 'navigation_links.html' %}
{% endblock %}