{% load bootstrap3 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Common Settings</h3>
    </div>
    <div class="panel-body">
        <p>
            The following setting enables/disable the public access to the site (except <i>share</i> links).
        </p>
        {% bootstrap_field form.login_only_mode layout="horizontal" %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">External API Settings</h3>
    </div>
    <div class="panel-body">
        <p>
            The following setting activate the <a href="https://apiconsole.cisco.com/" target="_blank">Cisco API
            access</a> for various API endpoint which are directly hosted at Cisco Systems. Please also note the
            <a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">
                Terms and Conditions
            </a>
            when using this API.
        </p>
        {% bootstrap_field form.cisco_api_enabled layout="horizontal" %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Custom Homepage Content</h3>
    </div>
    <div class="panel-body">
        {% bootstrap_field form.homepage_text_before layout="horizontal" %}
        {% bootstrap_field form.homepage_text_after layout="horizontal" %}
    </div>
</div>