<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Common Settings</h3>
    </div>
    <div class="panel-body">
        <p>
            The following settings enables/disables the public access to the site. If disabled, the fundamental browse
            and Bulk EoL check feature can be used without login.
        </p>
        {{ form.login_only_mode.errors }}
        <div class="col-sm-7 col-md-offset-2">
            <div class="checkbox">
                <label>
                    {{ form.login_only_mode }}
                    <b>login always required</b>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">External API Settings</h3>
    </div>
    <div class="panel-body">
        <p>
            The following setting activate the <a href="https://apiconsole.cisco.com/" target="_blank">Cisco API
            access</a> for various API endpoint which are directly hosted at Cisco Systems. Please also note the
            <a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">
                Terms and Conditions
            </a>
            when using this API. The API access is only available for Cisco Partners.
        </p>
        {{ form.cisco_api_enabled.errors }}
        <div class="col-sm-7 col-md-offset-2">
            <div class="checkbox">
                <label>
                    {{ form.cisco_api_enabled }}
                    <b>Enable Cisco API</b>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Custom Homepage Content</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form.homepage_text_before.errors }}
                <label class="col-sm-3 control-label" for="{{ form.homepage_text_before.id_for_label }}">Text before favorite actions:</label>
                <div class="col-sm-9">
                    {{ form.homepage_text_before }}
                </div>
            </div>
            <div class="form-group">
                {{ form.homepage_text_after.errors }}
                <label class="col-sm-3 control-label" for="{{ form.homepage_text_after.id_for_label }}">Text after favorite actions:</label>
                <div class="col-sm-9">
                    {{ form.homepage_text_after }}
                </div>
            </div>
        </div>
    </div>
</div>