{% load bootstrap3 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cisco API authentication settings</h3>
    </div>
    <div class="panel-body">
        {% bootstrap_field form.cisco_api_client_id layout="horizontal" %}
        {% bootstrap_field form.cisco_api_client_secret layout="horizontal" %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cisco EoX API synchronization</h3>
    </div>
    <div class="panel-body">
        {% bootstrap_field form.eox_api_auto_sync_enabled layout="horizontal" %}
        {% bootstrap_field form.eox_auto_sync_auto_create_elements layout="horizontal" %}
        {% bootstrap_field form.eox_api_queries layout="horizontal" %}
        {% bootstrap_field form.eox_api_blacklist layout="horizontal" %}
    </div>
</div>