{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% block custom_header %}{% endblock %}

    <title>Product Database - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'lib/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        footer {
            align-content: center;
            text-align: center;
        }
        .version:before {
            content: "v";
            opacity: 0.6;
            padding-right: 0.25em;
        }

        .version {
            font-size: 70%;
        }

        {% block custom_css %}
        {% endblock %}
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand' href="{% url 'productdb:home' %}" rel="nofollow">
                    Product Database <span class="version">{% include 'short_version.html' %}</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% include 'navigation_links.html' %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
        <hr>

        <footer>
        {% include 'footer.html' %}
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>

    {% block end_of_file_statments %}{% endblock %}
</body>
</html>

