{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Product lists
{% endblock %}

{% block custom_css %}
    .paginate_button {
        /* fix an issue with the pagination on the datatable */
        padding: 0 !important;
    }

    /* Datatables header icon workaround */
    table.dataTable thead .sorting_asc::after {
        content: ""
    }
    table.dataTable thead .sorting_desc::after {
        content: ""
    }
    table.dataTable thead .sorting::after {
        content: ""
    }

    /* customize button panel on datatables */
    .dt-buttons {
        margin-top: 20px;
        margin-bottom: 20px;
    }
{% endblock %}

{% block content %}
    <h1>Browse product lists</h1>
    <p>On this page, you can browse the local database by the defined vendor lists. To see all products from a vendor
        that are created on the local database, please use the
        <a href="{% url 'productdb:browse_vendor_products' %}">browse vendor products lists view</a>.</p>
    {% if product_lists|length > 0 %}
    <p>Please select a product list that should be displayed:</p>
    <div class="container">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="product_list_selection" class="col-sm-2 control-label">Product list: </label>
                <div class="col-sm-10">
                    <select class="form-control" id="product_list_selection" name="product_list_selection">
                    {% for pl in product_lists %}
                        {% if selected_product_list %}
                            {% ifequal pl.id|add:"0" selected_product_list|add:"0" %}
                            <option value="{{ pl.id }}" selected>{{ pl.product_list_name }}</option>
                            {% else %}
                            <option value="{{ pl.id }}">{{ pl.product_list_name }}</option>
                            {% endifequal %}
                        {% else %}
                            <option value="{{ pl.id }}">{{ pl.product_list_name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-default" type="submit" id="submit" value="view product list" />
            </div>
            {% csrf_token %}
        </form>
    </div>
    <hr>
    <div class="container">
        <div id="product_table-buttons-div"></div>
        <table id="product_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="10%">vendor</th>
                    <th width="15%">product ID</th>
                    <th>description</th>
                    <th width="15%">list price</th>
                    <th>currency</th>
                </tr>
            </thead>
        </table>
        <div id="buttons-div" style=""></div>
    </div>
    {% else %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>Warning:</strong> No product list found in database.
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block end_of_file_statments %}
    <script type="application/javascript">
        $(document).ready(function() {
            if($('#product_table').val() != null) {
                update_datatable()
            }
        });

        function update_datatable() {
            var psl = $('#product_list_selection');
            var table = $('#product_table').DataTable( {
                dom: 'Blfrtip',
                "processing": true,
                "serverSide": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 1,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": 2,
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "render": function ( data, type, row ) {
                            if (data != null) {
                                return data + ' ' + row['currency'] + '';
                            }
                            else {
                                return "(not set)"
                            }
                        },
                        "targets": 3,
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "visible" : false,
                        "searchable": false,
                        "targets": [4]
                    }
                ],
                "columns": [
                    { "data": "vendor" },
                    { "data": "product_id" },
                    { "data": "description" },
                    { "data": "list_price" },
                    { "data": "currency" }
                ],
                buttons: [
                    'copyHtml5',
                    {
                        extend: 'csvHtml5',
                        title: "product list - " + psl.find("option[value=" + psl.val() + "]").text(),
                        fieldSeparator: ';',
                        extension: '.csv'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: "product list - " + psl.find("option[value=" + psl.val() + "]").text(),
                        orientation: 'landscape',
                        pageSize: 'A4'
                    }
                ],
                "ajax": "{% url 'productdb:datatables_list_products_view' %}" + psl.val() + "/"
            });
            table.buttons().container().appendTo( '#product_table-buttons-div' );
        }
    </script>
{% endblock %}