{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Product details for {{ product.product_id }}
{% endblock %}

{% block page_content %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="page-header">
            <h1>
                {{ product.product_id }}
                <small>
                    Product details
                    <a href="{{ back_to }}" data-toggle="tooltip" id="_back" title="back to previous page">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </a>
                </small>
            </h1>
        </div>

        {% bootstrap_messages %}

        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>Vendor:</dt>
                <dd>{{ product.vendor.name }}</dd>

                <dt>Product ID:</dt>
                <dd>{{ product.product_id }}</dd>

                {% if product.internal_product_id %}
                    <dt>{{ INTERNAL_PRODUCT_ID_LABEL }}:</dt>
                    <dd>{{ product.internal_product_id }}</dd>
                {% endif %}

                {% if product.product_group %}
                    <dt>Product Group:</dt>
                    <dd>
                        <a href="{% url 'productdb:detail-product_group' product_group_id=product.product_group.id %}?back_to={{ request.get_full_path|urlencode }}">
                            {{ product.product_group.name }}
                        </a>
                    </dd>
                {% endif %}

                <dt>Description:</dt>
                <dd>{{ product.description }}</dd>

                {% if product.list_price %}
                    <dt>List Price:</dt>
                    <dd>{{ product.list_price|floatformat:2 }} {{ product.currency }}</dd>
                {% endif %}

                <dt>Update Timestamp:</dt>
                <dd>{{ product.update_timestamp|date:"SHORT_DATE_FORMAT" }}</dd>

                {% if product.list_price_timestamp %}
                    <dt>List Price Timestamp:</dt>
                    <dd>{{ product.list_price_timestamp|date:"SHORT_DATE_FORMAT" }}</dd>
                {% endif %}

                <dt>Tags:</dt>
                <dd>{{ product.tags|default:"<i>No tags defined</i>" }}</dd>

                <dt></dt>
                {% if product.lc_state_sync %}
                    <dd class="text-success">Automatic synchronization of the lifecycle data</dd>
                {% else %}
                    <dd class="text-danger">No automatic synchronization of the lifecycle data</dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-md-12">
            {% if product.current_lifecycle_states %}
                <h2>Lifecycle data</h2>
                <div class="col-md-12">
                    {% if product.current_lifecycle_states|length > 1 %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Current lifecycle state: </strong>
                            <ul>
                                {% for entry in product.current_lifecycle_states %}
                                <li>{{ entry }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% elif product.current_lifecycle_states|length == 1 %}
                        {% if "No EoL announcement" in product.current_lifecycle_states.0 %}
                            <div class="alert alert-success" role="alert">
                                No End-of-Life announcement found in the database (last review on {{ product.eox_update_time_stamp|date:"SHORT_DATE_FORMAT" }}).
                            </div>

                        {% else %}
                            {% if "EoS announced" in product.current_lifecycle_states.0 %}
                                <div class="alert alert-warning" role="alert">
                                    <strong>Current lifecycle state: </strong>
                                    {{ product.current_lifecycle_states.0 }}
                                </div>

                            {% elif "End of Sale" in product.current_lifecycle_states.0 %}
                                <div class="alert alert-warning" role="alert">
                                    <strong>Current lifecycle state: </strong>
                                    {{ product.current_lifecycle_states.0 }}
                                </div>

                            {% else %}
                                {# must be End of Support at this stage #}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Current lifecycle state: </strong>
                                    {{ product.current_lifecycle_states.0 }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if "No EoL announcement" not in product.current_lifecycle_states.0 %}
                        <table class="table">
                            <tr>
                                <th>End-of-Life Announcement Date:</th>
                                <td>{{ product.eol_ext_announcement_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End-of-Sale Date:</th>
                                <td>{{ product.end_of_sale_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End of New Service Attachment Date:</th>
                                <td>{{ product.end_of_new_service_attachment_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End of SW Maintenance Releases Date:</th>
                                <td>{{ product.end_of_sw_maintenance_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End of Routine Failure Analysis Date:</th>
                                <td>{{ product.end_of_routine_failure_analysis|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End of Service Contract Renewal Date:</th>
                                <td>{{ product.end_of_service_contract_renewal|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>End of Vulnerability/Security Support Date:</th>
                                <td>{{ product.end_of_sec_vuln_supp_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th>Last Date of Support:</th>
                                <td>{{ product.end_of_support_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            {% if product.eol_reference_url %}
                                <tr>
                                    <th>Vendor Bulletin:</th>
                                    <td><a href="{{ product.eol_reference_url }}" target="_blank">{{ product.eol_reference_number|default:"Link" }}</a></td>
                                </tr>
                            {% endif %}
                        </table>
                    {% endif %}
                </div>
                {% if product.has_migration_options %}
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">
                                <h4 class="list-group-item-heading">preferred migration option</h4>
                            </li>
                            {# if a link to the product is defined, it must be valid #}
                            <li class="list-group-item{% if preferred_replacement_option.is_valid_replacement %} list-group-item-success{% else %} list-group-item-warning{% endif %}">
                                <dl class="dl-horizontal">
                                    {% if preferred_replacement_option.replacement_product_id %}
                                        <dt>Product ID:</dt>
                                        <dd>
                                            {% if preferred_replacement_option.link_to_preferred_option %}
                                                <a href="{{ preferred_replacement_option.link_to_preferred_option }}">
                                                    {{ preferred_replacement_option.replacement_product_id }}
                                                </a>
                                            {% else %}
                                                {{ preferred_replacement_option.replacement_product_id }}
                                            {% endif %}
                                        </dd>
                                    {% endif %}
                                    {% if preferred_replacement_option.comment %}
                                        <dt>comment:</dt>
                                        <dd>{{ preferred_replacement_option.comment }}</dd>
                                    {% endif %}
                                    <dt>Source:</dt>
                                    <dd>{{ preferred_replacement_option.migration_source }}</dd>
                                    {% for key, value in migration_source_details.items %}
                                        {% if key == preferred_replacement_option.migration_source %}
                                            {% if value.description %}
                                                <dt>Source description:</dt>
                                                <dd>{{ value.description }}</dd>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if preferred_replacement_option.migration_product_info_url %}
                                        <dt></dt>
                                        <dd>
                                            <a href="{{ preferred_replacement_option.migration_product_info_url }}" target="_blank">
                                                Migration Info URL
                                            </a>
                                        </dd>
                                    {% endif %}
                                </dl>
                            </li>
                        </ul>
                        {% for migration_source_name in migration_paths.keys %}
                            <a type="button" class="btn btn-default btn-block" style="white-space: normal" data-toggle="modal" data-target="#modal_show_{{ migration_source_name|slugify }}" id="view_{{ migration_source_name|slugify }}">
                                <strong>{{ migration_source_name }}</strong> (detailed)
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {% bootstrap_alert "No lifecycle information added to the database." alert_type="info" dismissable=False %}
            {% endif %}
        </div>
    </div>

    {% if product.has_migration_options %}
        {# show all migration paths #}
        {% for migration_source_name, path in migration_paths.items %}
            <div class="modal fade" id="modal_show_{{ migration_source_name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="{{ migration_source_name|slugify }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="{{ migration_source_name }}">detailed migration path by {{ migration_source_name }}</h4>
                        </div>
                        <div class="modal-body">
                            {% for key, value in migration_source_details.items %}
                                {% if key == migration_source_name %}
                                    {% if value.description %}
                                        <p>{{ value.description }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <p>The following replacement path was defined by <strong>{{ migration_source_name }}</strong>:</p>
                            <ul class="list-group">
                            {% for pmo in path %}
                                {# render invalid elements #}
                                {% if forloop.counter != path|length %}<del>{% endif %}
                                    <li class="list-group-item{% if forloop.counter != path|length %} disabled{% else %}{% if preferred_replacement_option.is_valid_replacement %} list-group-item-success{% else %} list-group-item-warning{% endif %}{% endif %}">
                                        <dl class="dl-horizontal">
                                            {% if pmo.replacement_product_id %}
                                                <dt>Product ID:</dt>
                                                <dd>
                                                    {% if pmo.is_replacement_in_db %}
                                                        <a href="{% url "productdb:product-detail" product_id=pmo.get_product_replacement_id %}">{{ pmo.replacement_product_id }}</a>
                                                    {% else %}
                                                        {{ pmo.replacement_product_id }}
                                                    {% endif %}
                                                </dd>
                                            {% endif %}
                                            {% if pmo.comment %}
                                                <dt>comment:</dt>
                                                <dd>{{ pmo.comment }}</dd>
                                            {% endif %}
                                            {% if pmo.migration_product_info_url %}
                                                <dt></dt>
                                                <dd>
                                                    <a href="{{ pmo.migration_product_info_url }}" target="_blank">
                                                        Migration Info URL
                                                    </a>
                                                </dd>
                                            {% endif %}
                                        </dl>
                                    </li>
                                {% if forloop.counter != path|length %}</del>{% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}