{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Import Products - Product Database
{% endblock %}

{% block page_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Import Products</h1>
        </div>
        <p>You can download the template for the file upload <a href="{% static 'file/product_database_import_template.xlsx' %}">here</a>.</p>
        <p>After you <strong>add your products to the Excel template</strong>, you can upload it using the dialog below.</p>

        <hr>
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-block btn-primary" id="submit">
                    import products
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}