{% extends '_base/page-with_nav-single_row.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Import Product Migrations - Product Database
{% endblock %}

{% block page_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Import Product Migrations</h1>
        </div>

        {% bootstrap_messages %}

        <p>
            You can use the following <a href="{% static 'file/import_product_migrations_template.xlsx' %}">Excel
            Template</a> to import Product migrations to the database.
        </p>

        <div class="alert alert-info" role="alert">
            <span class="fa fa-info-circle" aria-hidden="true"></span>&nbsp;
            The following keys are always required within the Excel sheet: <code>Product ID</code>,<code>Vendor</code> (name) and <code>Migration Source</code> (name).
            Please note that empty values in the required columns are ignored, whereas optional columns will be set to none. The sheet name must be set to <code>Products</code>.
        </div>

        <hr>
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-block btn-primary" id="submit">
                    import product migrations
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}