{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_page.css' %}">
    {% block additional_head_css %}{% endblock %}
    {% block additional_head_js %}{% endblock %}
</head>

<body>
    {% block navigation %}{% endblock %}
    <div class="container-fluid">
        {% block main_content %}{% endblock %}
    </div>
    <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            // initialize tooltips
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        } );
    </script>
    {% block additional_page_js %}{% endblock %}
</body>

</html>