[Unit]
Description=celery beat for the Product Database
After=network.target prductdb-celerycamera.service redis-service.service postgresql.service

[Service]
Restart=always
RestartSec=30
StartLimitBurst=3
StartLimitInterval=400
PIDFile=/var/www/productdb/celery_beat.pid
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
EnvironmentFile=/etc/productdb/productdb
ExecStart=/var/www/productdb/virtualenv/bin/celery beat -A django_project
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
