[Unit]
Description=celerycamera for the Product Database
After=network.target
After=redis-service.service

[Service]
Type=forking
PIDFile=/var/www/productdb/celerycam.pid
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
EnvironmentFile=/etc/productdb/productdb
ExecStart=/var/www/productdb/virtualenv/bin/python3 manage.py celerycam --detach --loglevel=INFO --logfile=../logs/celerycam.log --pidfile=../celerycam.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target