[Unit]
Description=celery worker for the Product Database
After=network.target
After=redis-service.service
After=prductdb-celerycamera.service

[Service]
PIDFile=/var/www/productdb/celery_worker.pid
Type=forking
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
Environment="DJANGO_SECRET_KEY=__DJANGO_SECRET_KEY__"
Environment="PDB_DATABASE_NAME=__PDB_DATABASE_NAME__"
Environment="PDB_DATABASE_USER=__PDB_DATABASE_USER__"
Environment="PDB_DATABASE_PASSWORD=__PDB_DATABASE_PASSWORD__"
Environment="PDB_DATABASE_HOST=__PDB_DATABASE_HOST__"
Environment="PDB_DATABASE_PORT=__PDB_DATABASE_PORT__"
Environment="LANG='en_US.UTF-8'"
Environment="LC_ALL='en_US.UTF-8'"
ExecStart=/var/www/productdb/virtualenv/bin/celery worker -n product_db -A django_project --detach --concurrency=8 --loglevel=INFO --pidfile=../celery_worker.pid --events --beat --time-limit=14400 --soft-time-limit=7200 --statedb=../celerybeat-schedule.db --logfile=../logs/celery_worker.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target