[Unit]
Description=celery worker for the Product Database
After=network.target prductdb-celerycamera.service redis-service.service postgresql.service

[Service]
Restart=always
RestartSec=30
StartLimitBurst=3
StartLimitInterval=400
PIDFile=/var/www/productdb/celery_worker.pid
Type=forking
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
EnvironmentFile=/etc/productdb/productdb
ExecStart=/var/www/productdb/virtualenv/bin/celery worker -n product_db -A django_project --detach --concurrency=${PDB_CELERY_CONCURRENCY} --loglevel=INFO --pidfile=../celery_worker.pid --events --beat --time-limit=14400 --soft-time-limit=10800 --statedb=../celerybeat-schedule.db --logfile=../logs/celery_worker.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
