[Unit]
Description=gunicorn for the Product Database
After=network.target
After=nginx.service

[Service]
PIDFile=/var/www/productdb/gunicorn.pid
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
Environment="DJANGO_SECRET_KEY=__DJANGO_SECRET_KEY__"
Environment="PDB_DATABASE_NAME=__PDB_DATABASE_NAME__"
Environment="PDB_DATABASE_USER=__PDB_DATABASE_USER__"
Environment="PDB_DATABASE_PASSWORD=__PDB_DATABASE_PASSWORD__"
Environment="PDB_DATABASE_HOST=__PDB_DATABASE_HOST__"
Environment="PDB_DATABASE_PORT=__PDB_DATABASE_PORT__"
Environment="PDB_HTTPS_ONLY=1"
Environment="PDB_LDAP_ENABLE=1"
Environment="PDB_LDAP_SERVER_URL=__PDB_LDAP_SERVER_URL__"
Environment="PDB_LDAP_BIND_DN=__PDB_LDAP_BIND_DN__"
Environment="PDB_LDAP_BIND_PASSWORD=__PDB_LDAP_BIND_PASSWORD__"
Environment="PDB_LDAP_USER_SEARCH=__PDB_LDAP_USER_SEARCH__"
Environment="PDB_LDAP_GROUP_SEARCH=__PDB_LDAP_GROUP_SEARCH__"
Environment="PDB_LDAP_REQUIRE_GROUP=__PDB_LDAP_REQUIRE_GROUP__"
Environment="LANG='en_US.UTF-8'"
Environment="LC_ALL='en_US.UTF-8'"
ExecStart=/var/www/productdb/virtualenv/bin/gunicorn --workers _GUNICORN_WORKER_ --pid /var/www/productdb/gunicorn.pid --bind unix:/tmp/productdb.socket --access-logfile ../logs/gunicorn_access.log --error-logfile ../logs/gunicorn_error.log --limit-request-line 6144 --timeout 600 django_project.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target