[Unit]
Description=gunicorn for the Product Database
After=network.target
After=nginx.service

[Service]
PIDFile=/var/www/productdb/gunicorn.pid
User=__USERNAME__
Group=__GROUP__
WorkingDirectory=/var/www/productdb/source
EnvironmentFile=/etc/productdb/productdb
ExecStart=/var/www/productdb/virtualenv/bin/gunicorn --workers ${PDB_GUNICORN_WORKER} --pid /var/www/productdb/gunicorn.pid --bind unix:/tmp/productdb.socket --access-logfile ../logs/gunicorn_access.log --error-logfile ../logs/gunicorn_error.log --limit-request-line 6144 --timeout 600 django_project.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target